@model JaxPelzerCMSC2240Final.Models.InfractionDriverLink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InfractionDriverLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Infraction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Infraction.InfractionDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
